<div>
  <form [formGroup]="form">
    <div class="form-group" style="position: relative;">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <div [hidden]="!form.controls['email'].errors || form.controls['email'].pristine" class="msg-error">
        <b>{{ form.controls['email'].value }}</b> is incorrect
      </div>
    </div>
    <div class="form-group mb-4" style="position: relative;">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div [hidden]="!form.controls['password'].errors || form.controls['password'].pristine" class="msg-error">
        Password min 6 caracters
      </div>
    </div>
    <div class="form-group mb-4" style="position: relative;">
      <label for="password">Confirm Password</label>
      <input type="password" class="form-control" id="password" formControlName="confirmPassword">
      <div [hidden]="!form.controls['confirmPassword'].errors || form.controls['confirmPassword'].pristine"
        class="msg-error">
        Password min 6 caracters
      </div>
      <div [hidden]="!passwordMismatch" class="msg-error">
        Password Mismatch
      </div>
    </div>
    <div class="d-flex mb-5 align-items-center">
      <button type="button" class="btn btn-block btn-primary" (click)="submit()"
        [disabled]="form.invalid">Register</button>
    </div>
    <hr>
    <div class="text-center">
      <a class="small" href="forgot-password.html">Forgot Password?</a>
    </div>
    <div class="text-center">
      <a class="small" href="login.html">Already have an account? Login!</a>
    </div>
  </form>