<div>
  <form [formGroup]="form">
    <div class="row">
      <div class="col s6">
        <label for="">Email</label>
        <input type="text" formControlName="email">
        <div [hidden]="!form.controls['email'].errors || form.controls['email'].pristine">
          Error
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <label for="">Password</label>
        <input type="password" formControlName="password">
        <div [hidden]="!form.controls['password'].errors || form.controls['password'].pristine">
          Error
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="col s6">
          <button type="button" (click)="submit()" [disabled]="form.invalid">Ingresar</button>
        </div>
        <div class="col s6">
          <button type="button" (click)="restablecerPassword()" [disabled]="emailError">Restablecer contrasena</button>
        </div>
      </div>
    </div>
  </form>
</div>
