<div class="container">
  <div class="row">
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, non libero blanditiis voluptates dignissimos ipsum minus sequi mollitia ullam sunt qui sit neque eum nostrum voluptatem a, modi nulla aspernatur?
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, non libero blanditiis voluptates dignissimos ipsum minus sequi mollitia ullam sunt qui sit neque eum nostrum voluptatem a, modi nulla aspernatur?
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, non libero blanditiis voluptates dignissimos ipsum minus sequi mollitia ullam sunt qui sit neque eum nostrum voluptatem a, modi nulla aspernatur?
    </div>
  </div>
</div>