<h2 *ngIf="!onlyIcon">Insignias:</h2>
<div class="row">
  <ng-container *ngIf="onlyIcon ? countMyInsignias() > 0 : true; else notFound">
    <ng-container *ngIf="!onlyIcon">
      <div class="col-6 col-md-4 col-lg-3" *ngFor="let insignia of insignias">
        <div class="card">
          <img
            [src]="insignia.image || 'assets/img/insignia1.jpg'"
            class="card-img-top"
          />
          <div class="card-body" *ngIf="!onlyIcon">
            <h5 class="card-title">{{ insignia.name | titlecase }}</h5>
            <p class="card-text">{{ insignia.description }}</p>
            <p>
              <a>Màs info</a>
            </p>
            <ng-container>
              <p class="badge badge-primary" *ngIf="isMine(insignia); else e">
                Obtenida
              </p>
              <ng-template #e>
                <p class="badge badge-danger">No obtenida</p>
              </ng-template>
            </ng-container>
            <!-- <div class="col-12 m-t-10">
              <button class="btn btn-primary btn-block">La quiero</button>
            </div> -->
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="onlyIcon">
      <ng-container *ngFor="let insignia of insignias">
        <div class="col-2" *ngIf="isMine(insignia)">
          <div class="div-image">
            <img
              [src]="insignia.image || 'assets/img/insignia1.jpg'"
              class="card-img-top"
            />
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #notFound>
    <p>No tienes ninguna insignia, ve al módulo insignias para ver como</p>
  </ng-template>
</div>
