<h2>Insignias:</h2>
<div class="form-inline">
  <div class="card" style="width: 18rem" *ngFor="let insignia of insignias">
    <img
      [src]="insignia.image || 'assets/img/insignia1.jpg'"
      class="card-img-top"
      alt="image"
    />
    <div class="card-body">
      <h5 class="card-title">{{ insignia.name | titlecase }}</h5>
      <p class="card-text">{{ insignia.description }}</p>
      <p>
        <a>Màs info</a>
      </p>
      <ng-container>
        <p class="badge badge-primary" *ngIf="isMine(insignia); else e">
          Obtenida
        </p>
        <ng-template #e>
          <p class="badge badge-danger">No obtenida</p>
        </ng-template>
      </ng-container>
      <!-- <div class="col-12 m-t-10">
        <button class="btn btn-primary btn-block">La quiero</button>
      </div> -->
    </div>
  </div>
</div>
