.div-img {
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
