<div class="jumbotron">
    <a class="nav-link">Id: {{ userProfile?.uid }}</a>
    <a class="nav-link">Nick: {{ userProfile?.displayName }}</a>
    <a class="nav-link">Verified: {{ userProfile?.emailVerified }}</a>
    <a class="nav-link">Provider: {{ user?.providerData[0]?.providerId }}</a>
    <a class="nav-link">ApiKey: {{ userProfile?.apiKey }}</a>
    <a class="nav-link">Anonimous: {{ userProfile?.isAnonymous }}</a>
    <div class="col-12 m-t-10">
        <button (click)="EditProfile(userProfile)" class="btn btn-primary btn-block">Editar</button>
      </div>
</div>


