<form [formGroup]="f">
  <div style="margin-top: 5vh">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a
            routerLink="/profile"
            style="color: cornflowerblue; font-size: small"
            ><i class="fas fa-arrow-left"></i
          ></a>
        </div>
        <div class="col-sm-6 perfil-personalizado">
          <p style="text-align: center"><b>Editar Perfil</b></p>
          <p style="text-align: center">
            <img
              [src]="'assets/img/no-profile.png'"
              class="perfil-redondo"
              width="100vw"
              height="100vh"
            />
          </p>
          <br />

          <form class="row">
            <div class="col-md-6 form-group">
              <div class="">
                <label for="">(*) Nick</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Usuario"
                  formControlName="displayName"
                />
              </div>
            </div>

            <div class="col-md-6 form-group">
              <div class="">
                <label for="">(*) Correo</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="col-md-3 form-group">
              <div class="">
                <label for="">(*) Género</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="genero"
                />
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div class="">
                <label for="">(*) Fecha de nacimiento</label>
                <input
                  class="form-control"
                  type="date"
                  formControlName="fechaNacimiento"
                />
              </div>
            </div>

            <div class="col-md-3 form-group">
              <div class="">
                <label for="">(*) País</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="pais"
                />
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="">
                <label for="">(*) Área de conocimiento</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="categoria"
                />
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div class="">
                <label for="">(*) Contraseña</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div class="">
                <label for="">(*) Repetir contraseña</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="password1"
                />
              </div>
            </div>

            <div class="col-md-6 form-group">
              <div class="">
                <label for=""
                  ><i class="fab fa-facebook"></i>&nbsp;facebook/&nbsp;</label
                >
                <input class="form-control" type="text" />
              </div>
            </div>

            <div class="col-md-6 form-group">
              <div class="">
                <label for=""
                  ><i class="fab fa-facebook"></i>&nbsp;github.com/&nbsp;</label
                >
                <input class="form-control" type="text" />
              </div>
            </div>

            <div class="col-md-6 form-group">
              <div class="">
                <label for=""
                  ><i class="fab fa-facebook"></i
                  >&nbsp;linkedin.com/&nbsp;</label
                >
                <input class="form-control" type="text" />
              </div>
            </div>

            <div class="col-md-6 form-group">
              <div class="">
                <label for=""
                  ><i class="fab fa-facebook"></i
                  >&nbsp;twitter.com/&nbsp;</label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="">
                <label for="">Bibliografía</label>
                <textarea
                  class="form-control"
                  type="text"
                  row="5"
                  style="resize: none"
                ></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
</form>
