<p style="margin-left: 1vw; margin-right: 1vw; text-align: justify; font-size: small;">
  <b>
      La próxima edición regresa en el 2022, en la cual se planea involucrar a todos los programadores
      independientemente del área de conocimiento que se encuentre, todo con un mismo propósito de
      aprender en comunidad.

  </b>
</p>

<label style="text-align: center;">Ellos ya creen en ésta iniciativa</label><br>
<div class="row">


  <div class="col-sm-3">
      <div class="card card1">
          <div class="embed-responsive embed-responsive-4by3">
              <img src="https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083383_960_720.jpg"
                  alt="#" class="card-img embed-responsive-item">
          </div>
          <div class="card-socials">
              <a href="#">JS</a>

          </div>
          <div class="card-body" style="text-align: center;">
              <b>Bezael</b>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card card1">
          <div class="embed-responsive embed-responsive-4by3">
              <img src="https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083383_960_720.jpg"
                  alt="#" class="card-img embed-responsive-item">
          </div>
          <div class="card-socials">
              <a href="#">JS</a>

          </div>
          <div class="card-body" style="text-align: center;">
              <b>Bezael</b>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card card1">
          <div class="embed-responsive embed-responsive-4by3">
              <img src="https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083383_960_720.jpg"
                  alt="#" class="card-img embed-responsive-item">
          </div>
          <div class="card-socials">
              <a href="#">JS</a>

          </div>
          <div class="card-body" style="text-align: center;">
              <b>Bezael</b>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card card1">
          <div class="embed-responsive embed-responsive-4by3">
              <img src="https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083383_960_720.jpg"
                  alt="#" class="card-img embed-responsive-item">
          </div>
          <div class="card-socials">
              <a href="#">JS</a>

          </div>
          <div class="card-body" style="text-align: center;">
              <b>Bezael</b>
          </div>
      </div>
  </div>
</div>

<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/234/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/235/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/236/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/237/200/200" alt="" class="rounded-circle ">
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/234/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/234/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/235/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/236/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/237/200/200" alt="" class="rounded-circle ">
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/234/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/234/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/235/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/236/200/200" alt="" class="rounded-circle "/>
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/237/200/200" alt="" class="rounded-circle ">
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/id/234/200/200" alt="" class="rounded-circle "/>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
