@import '~swiper/swiper-bundle.min.css';

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev {
  font-size: 55px;
  top: 10px;
}

.swiper-button-next {
  font-size: 55px;
  top: 10px;
}

img {
  height: 80px;
}

$white: #ffffff;
 $gray: #212121;
 $primary: #05668D;
 $secondary: #028090;
 
 .card1 {
    $border-radius: 15px;
    $card-social-item-size: 2.5vw;
    border: 0;
    text-align: center;
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    .card-img {
      object-fit: cover;
    }
    .card-socials {
       display: flex;
       flex-wrap: wrap;
       margin-top: -($card-social-item-size/2);
       padding: 0 45px;
       z-index: 1;
       a {
          display: block;
          border-radius: 50%;
          width: $card-social-item-size;
          height: $card-social-item-size;
          background: $primary;
          color: $white;
          line-height: $card-social-item-size;
          text-align: center;
          transition: .3s;
          &:not(:last-of-type) {
             margin-right: 10px;
          }
          &:hover {
             background: $secondary;
             transform: scale(1.15);
          }
       }
    }
 }

 @mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}