<div *ngIf="user; else login">
  <ul class="nav nav-pills nav-fill my-3">
    <li class="nav-item active">
      <button class="btn btn-primary mx-auto" href="#">Mi Perfil</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary mx-auto" href="#">Insignias</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary mx-auto" href="#">Grupos</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary mx-auto" href="#">Eventos</button>
    </li>
  </ul>
  <a class="nav-link"> {{ user?.uid }}</a>
  <a class="nav-link"> {{ user?.displayName }}</a>
  <a class="nav-link"> {{ user?.emailVerified }}</a>
  <a class="nav-link"> {{ user?.providerData[0]?.providerId }}</a>
  <a class="nav-link"> {{ user?.apiKey }}</a>
  <a class="nav-link"> {{ user?.isAnonymous }}</a>
</div>
<ng-template #login>
  <a class="nav-link" routerLink="/login">Login</a>
</ng-template>
