<div *ngIf="editProfile">
  <app-edit [profile] = "userModel" [editingProfile] = "true" (itemSaved) = "itemSaved($event)"></app-edit>
</div>
<div *ngIf="user && !editProfile; else login">
  <div class="main">
    <div class="container-fluid m-b-10 mt-3">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <button type="button" class="nav-link active btn btn-block btn-outline-success" id="catBtn" data-toggle="list" href="#myprofile" role="tab" aria-controls="home"><i class="fas fa-user"></i>&nbsp;&nbsp;Mi Perfil</button>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <button type="button"   class="nav-link btn btn-block btn-outline-success" id="subCatBtn" data-toggle="list" href="#insignias" role="tab" aria-controls="profile"><i class="fas fa-star"></i>&nbsp;&nbsp;Insignias</button>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <button type="button"   class="nav-link btn btn-block btn-outline-success" id="elemBtn" data-toggle="list" href="#grupos" role="tab" aria-controls="messages"><i class="fas fa-users"></i>&nbsp;&nbsp;Grupos</button>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <button type="button"   class="nav-link btn btn-block btn-outline-success" id="elemBtn" data-toggle="list" href="#eventos" role="tab" aria-controls="messages"><i class="fas fa-thumbtack"></i>&nbsp;&nbsp;Eventos</button>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
      </ul>
  
    </div>
    <div class="container-fluid m-t-20">
      <div class="tab-content" id="nav-tabContent">
  
        <div class="tab-pane fade show active" id="myprofile" role="tabpanel" aria-labelledby="list-home-list">
         <div>
            <app-profiledetails (uploadImage) = "singleUploadImg($event)" [item]="userProfile" (addItem)="insertItem($event)" (editProfile)="editPerfil($event)"> </app-profiledetails>
          </div>
        </div>
  
        <div class="tab-pane fade" id="insignias" role="tabpanel" aria-labelledby="list-profile-list">
          <div>
            <app-profileinsignias></app-profileinsignias>
            
          </div>
           </div>
  
        <div class="tab-pane fade" id="grupos" role="tabpanel" aria-labelledby="list-messages-list">
          <div>
            <app-profilegrupos (removeImage)="deleteImagen($event)" (uploadImage) = "multipleUploadImg($event)" (addItem)="insertItem($event)" (editItem)="editItem($event)" (newItem)="newItem($event)" [user]="userProfile"></app-profilegrupos>
            
          </div>
        </div>
        <div class="tab-pane fade" id="eventos" role="tabpanel" aria-labelledby="list-messages-list">
         <div>
          <app-profileventos (removeImage)="deleteImagen($event)" (uploadImage) = "multipleUploadImg($event)" (addItem)="insertItem($event)"  (editItem)="editItem($event)" (newItem)="newItem($event)" [user]="userProfile"></app-profileventos>
          </div>
        </div>
        
      </div>
    </div>
   
  </div>

  
</div>
<ng-template #login>
  <a class="nav-link" routerLink="/login">Login</a>
</ng-template>
<button  data-toggle="modal"
data-target=".bd-example-modal-lg" id="showModal"></button>
<div class="main">
  
  <app-modal [singleUpload] = "singleUpload" [userProfile] = "userProfile" [area]="caller" [isEditing]="isEditing" [isNewItem]="isNewItem" [uploadImage]="uploadImage"  [item]="templateElement" [newitem]="itemTemplate" (addItem)="insertItem($event)" [type]="modalCaller"></app-modal>
</div>

