<div class="container">
  <h1 class="text-center my-3">
    Política de privacidad de datos, uso de cookies y anti-spam
  </h1>
  <p class="text-justify">
    Estos términos y condiciones de privacidad de datos, uso de cookies y spam
    establecen los lineamientos y prácticas de protección de datos personales,
    uso de cookies y spam del sitio web de la Corporación Andina de Fomento
    ("CAF", o "nosotros") generalmente indicadas por la URL "www.caf.com" y sus
    dominios de nivel inferior (el "sitio web" o la ¨página web”). CAF es un
    banco de desarrollo establecido por sus países miembros de conformidad con
    su Convenio Constitutivo. Para obtener más información sobre CAF, el sitio
    web y sus operaciones puede referirse a los apartados de “Quiénes somos”,
    “Qué hacemos” o “Contacto” para apoyo a sus consultas. Lea atentamente estos
    términos y condiciones, ya que le ayudarán a tomar decisiones informadas
    sobre cómo compartir su información personal con nosotros. Aunque estos
    términos y condiciones se aplican solo a la información recopilada a través
    del sitio web, son coherentes con nuestras políticas y prácticas con
    respecto a la información personal que recibimos.
  </p>
</div>
