<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block bg-login-image" style="padding: 4rem">
        <img src="assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-400 mb-4">Register</h1>
          </div>
          <div>
            <app-register-page-form (onRegister)="register($event)"></app-register-page-form>
          <div>
        </div>
      </div>
    </div>
  </div>
</div>