<button (click)="registrarUsuario()">Registrar usuario</button>

<button (click)="login()">Login</button>

<button (click)="loginFacebook()">Login facebook</button>

<button (click)="logout()">Logout</button>

<div>
  <input type="text" [(ngModel)]="verification.mode">
  <input type="text" [(ngModel)]="verification.code">
  <button (click)="emailValidationCallback()">Verificar email</button>
</div>

<button (click)="verifyUser()">Verify User</button>

<button (click)="cambiarContrasenia()">Enviar correo de cambio de contrasenia</button>