

<div class="blankpage-form-field mt-5">
  <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
    <form action="intel_introduction.html" action="intel_analytics_dashboard.html">
      <div class="form-group">
        <label class="form-label" for="username">Email</label>
        <input type="email" id="username" class="form-control" placeholder="your id or email" >
        <span class="help-block">
                            Your email
                        </span>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" class="form-control" placeholder="password" >
        <span class="help-block">
                            Your password
                        </span>
      </div>
      <div class="form-group text-left">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="rememberme">
          <label class="custom-control-label" for="rememberme"> Remember me for the next 30 days</label>
        </div>
      </div>
      <div class="form-row py-3">
        <div class="col-6 text-center">
          <button type="submit" class="btn btn-sm btn-info btn-block ">Sign in with <i class="fab fa-facebook"></i></button>
        </div>
        <div class="col-6 text-center">
          <button type="submit" class="btn btn-sm btn-danger btn-block ">Sign in with <i class="fab fa-google"></i></button>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary btn-block mt-2">Secure login</button>
        </div>
      </div>
    </form>
  </div>
  <div class="blankpage-footer text-center">
    <a href="#"><strong>Recover Password</strong></a> | <a routerLink="/register"><strong>Register Account</strong></a>
  </div>
</div>

