<!--div>
  <h1>Login</h1>
  <div>
    <app-login-form 
      (onLogin)="login($event)" 
      (onPasswordRecovery)="cambiarContrasenia($event)">
    </app-login-form>
    <div>
  </div>
    <app-login-terceras-partes 
      (onLoginFacebook)="loginFacebook($event)">
    </app-login-terceras-partes>
  </div>
</div-->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4" style="position: relative;">
              <h3>Sign In</h3>
              <p class="mb-4">Angular & Firebase Implementation.</p>
            </div>
            <app-login-form (onLogin)="login($event)" (onPasswordRecovery)="cambiarContrasenia($event)">
            </app-login-form>
            <app-login-terceras-partes (onLoginFacebook)="loginFacebook($event)">
            </app-login-terceras-partes>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

