.card-img-overlay {
  top: 90px;
  left: 24px;
  height: 90px;
  width: 100px;
}

.button-iniciativa {
  border-radius: 15px;
  background-color: #777374;
  color: white;
}

.card-img-overlay .img-logo {
  background-color: #F0DA50;
  border-radius: 50%;
  height: 50px;
}