<div class="jumbotron"> 
<p style="margin-left: 1vw; margin-right: 1vw; text-align: justify; font-size: small;">

  La próxima edición regresa en el 2022, en la cual se planea involucrar a todos los programadores
  independientemente del área de conocimiento que se encuentre, todo con un mismo propósito de
  aprender en comunidad.


</p>
<br><br>
<label style="text-align: center;">
  <b>Ellos ya creen en ésta iniciativa</b>
</label>
<div class="form-group row">

  <div class="col-sm-12">
    <carousel
      [arrows]=false
      [autoplay]=true
      [autoplayInterval]=3000
      [height]=200
      [cellWidth]=145
      [dots]="true"
      *ngIf="leaders.length > 0"
    >
      <div class="carousel-cell" *ngFor="let leader of leaders">
        <div class="card">
          <img [src]="leader.path" class="card-img-top" height="15px" [alt]="leader.name"/>
          <div class="card-body" style="background-color: #6D6D6D">
            <div class="card-img-overlay rounded-circle">
              <img
                src="../../../../assets/img/logo/logo_js.png"
                alt="Logo angular"
                class="img-logo"
              />
            </div>
            <p class="card-title text-black text-center fs-11 font-weight-bold">
              {{ leader.name }}
            </p>
          </div>
        </div>
      </div>
    </carousel>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-12 col-form-label d-flex justify-content-between align-items-center">
    <h5 class="">Sponsors</h5>
    <button class="button-iniciativa px-4 py-2">
      Apoyar iniciativa
    </button>
  </label>
  <div class="col-sm-12 sponsor">
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="container">
            <carousel
              [images]="images"
              [height]=60
              [cellWidth]=60
              [borderRadius]=150
              [arrowsOutside]=true
            >
            </carousel>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>