<div class="main form-inline">
 
    <div class="col-lg-3 col-12">
        <router-outlet name="comunidad" ></router-outlet>
    </div>
    <div class="col-lg-6 col-12">
        <div class="jumbotron col-12">
            <h1>Bienvenido a Comfeco App</h1>
            <h2>Testeando actions for github to firebase automatic deploy</h2>
        </div>
       
    <div class="container">
        <router-outlet name="sponsor" (activate)="onActivate($event)"></router-outlet>
    </div>
    <div class="container">
        <router-outlet name="counter" (activate)="onActivate($event)"></router-outlet>
    </div>
    </div>
   
    <div class="col-lg-3 col-12">
        <router-outlet name="course" (activate)="onActivate($event)"></router-outlet>
    </div>
</div>

