.page-footer{
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 28px 0px rgb(86 61 124 / 13%);
  box-shadow: 0px 0px 28px 0px rgb(86 61 124 / 13%);
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.125rem;
  bottom: 0;
  position: absolute ;
  width: 100%;
}
