<footer class="page-footer py-2">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-3">
                </div>
                <div class="col-lg-6">
                    <div class="rounded-social-buttons">
                        <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                        <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i
                                class="fab fa-youtube"></i></a>
                        <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-right">
                    <div class="footer-copyright text-center py-2">

                        © {{anio}} Copyright:
                        <a href="#"> Comfeco.com</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</footer>