.perfil-redondo {
    border-radius: 100%;
    object-fit: cover;
  }

  .talleres-personalizado {
    max-height: calc(70vh - 250px);
    overflow: auto;
  }
  /* Tamaño del scroll */
  .talleres-personalizado::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Estilos barra (thumb) de scroll */
  .talleres-personalizado::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .talleres-personalizado::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  .talleres-personalizado::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos track de scroll */
  .talleres-personalizado::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  .talleres-personalizado::-webkit-scrollbar-track:hover,
  .talleres-personalizado::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }