<!-- <h2>Comunidades:</h2>
<ul *ngFor="let comunidad of comunidades">
  <li >{{comunidad.id}}</li>
  <li >{{comunidad.name}}</li>
</ul> -->


<div class="form-group row">
  <label class="col-sm-7 col-form-label">
      <h5 class="">Comunidades</h5>
  </label>
  <div class="col-sm-5">
      <label class="col-sm-12 col-form-label"> <a href="/"
              style="color: cornflowerblue; font-size: small;">Ver más...</a> </label>
  </div>
</div>

<div class="form-group row" *ngFor="let comunidad of comunidades">
  <div class="col-sm-2 col-form-label">
      <img src="{{ 'assets/img_header/logo/logo.png' }}" width="40vw" height="40vh"
          class="perfil-redondo">
  </div>
  <label class="col-sm-5 col-form-label" style="text-align: justify; font-size: small;">
      <b>{{comunidad.name}}</b>
  </label>
  <div class="col-sm-5" style="text-align: left;">
      <label class="col-sm-12 col-form-label"> <a href="/"
              style="color: cornflowerblue; font-size: small;">Unirme</a> </label>
  </div>
</div>