body {
  font-family: "Muli", sans-serif !important;
}
.cources_info_style3 ul .dos {
  flex: 0 0 50% !important;
  width: 50% !important;
}
.cources_info_style3 ul .uno {
  flex: 0 0 100% !important;
  width: 100% !important;
}
.banner {
  height: 246px;
  img {
    height: 100%;
    object-fit: cover;
  }
}
.foot_lecture {
  cursor: pointer;
}

.width-320 {
  width: 320px;
}

.width-0 {
  width: 0px;
}

.nav-menu {
  line-height: 3;
}
.nav-brand img {
  max-width: 165px;
}
